
body {
	width: 100%;
}

.wrapper {
	width: 400px;
	margin: 0 auto;
}

.header {
	height: 100px;
	background: navy;
}

.side {
	float: left;
	width: 150px;
	height: 250px;
	background: lightgreen;	
}

.content {
	float: right;
	width: 250px;
	
    
}

.content-top-left {
	float: left;
	width: 150px;
}

.content-top-left-top {
   
	height: 50px;
	background: yellow;
}

.content-top-left-bottom {
    
	height: 100px;
	background: skyblue;
}

.content-top-right {
	float: right;
	width: 100px;                      
	height: 150px;
	background: pink;
}

.content-bottom {
    float: right;
	height: 100px;
    width: 250px;
	background: brown;
}	

.footer {
	height: 100px;
	background: orange;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}